events {
    worker_connections 1024;
}

http {
    upstream backend {
        server lssa_be:80; 
        server lssa_be1:80; 
    }

    server {
        listen 9091;
        
        location / {
            proxy_pass http://backend;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
        }
    }
}